body {
    background-color: #121212;
    color: #fff;
    font-family: Arial, sans-serif;
    padding: 20px;
}

#search-container {
    margin-bottom: 20px;
}

input[type="text"], button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

input[type="text"] {
    width: calc(100% - 120px);
}

button {
    cursor: pointer;
    background-color: #333;
    color: white;
    width: calc(100% - 100px);
}

button:hover {
    background-color: #555;
}

#results div {
    padding: 10px;
    background-color: #222;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#results div:hover {
    background-color: #333;
}

#game-details img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#game-notes {
    background-color: #333;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
}

#notes-section {
    margin-top: 20px;
}

.note {
    padding: 10px;
    background-color: #f0f0f0;
    color: #000;
}

form textarea {
    width: 100%;
    margin-bottom: 10px;
}

form button {
    display: block;
}

#ratingDistributionChart {
    max-width: 600px;
    max-height: 600px;
}

.unsupported { color: #808080; } /* Gray */
.bronze { color: #cd7f32; } /* Bronze */
.silver { color: #c0c0c0; } /* Silver */
.gold { color: #ffd700; } /* Gold */
.platinum { color: #e5e4e2; } /* Platinum */
