body {
    background-color: #121212;
    color: #fff;
    font-family: Arial, sans-serif;
    padding: 20px;
}

#search-container {
    margin-bottom: 20px;
}

input[type="text"], button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

input[type="text"] {
    width: calc(100% - 120px);
    
}

button {
    cursor: pointer;
    background-color: #333;
    color: white;
    width: calc(100% - 100px);
}

button:hover {
    background-color: #555;
}

#results div {
    padding: 10px;
    background-color: #222;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#results div:hover {
    background-color: #333;
}

#game-details img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#game-notes {
    background-color: #333;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
}

#notes-section {
    margin-top: 20px;
}

.note {
    padding: 10px;
    background-color: #f0f0f0;
    color: #000;
}

form textarea {
    width: 100%;
    margin-bottom: 10px;
}

form button {
    display: block;
}

#ratingDistributionChart {
    max-width: 500px;
    max-height: 500px;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1link:link {
    color:white;
    text-decoration: none;
}

.h1link:visited {
    color: whitesmoke;
    text-decoration: none;
}

.h1link:hover {
    color:white;
    text-decoration:underline;
}

.h1link:visited {
    color: whitesmoke;
    text-decoration: underline;
}

hr {
    width: calc(100% - 100px);
    float:left;
}

.unsupported { color: #808080; } /* Gray */
.bronze { color: #cd7f32; } /* Bronze */
.silver { color: #c0c0c0; } /* Silver */
.gold { color: #ffd700; } /* Gold */
.platinum { color: #e5e4e2; } /* Platinum */

#unsupported-btn {
    background-color: #808080;
    color: white;
}

#bronze-btn {
    background-color: #cd7f32;
    color: white    ;
}

#silver-btn {
    background-color: #c0c0c0;
    color: white
}

#gold-btn {
    background-color: #ffd700;
    color: white;
}

#platinum-btn {
    background-color: #e5e4e2;
    color: white;
}