<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Details</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="game-details">
        <h1><a href="https://store.steampowered.com/app/{{ game.steam_appid }}" class="h1link" target="_blank">{{ game.name }}</a></h1>
        <img src="{{ game.header_image }}" alt="{{ game.name }} header image">
        <p>Release Date: {{ game.release_date.date }}</p>
        <p>{{ game.short_description }}</p>
        <p>Average Rating: <span class="{{ rating_category|lower }}">{{ rating_category }}</span> ({{ average_rating }})</p>
        
        <div id="notes-section">
            {% if notes[0] != "No notes available for this game." %}
                {% for note in notes %}
                    <div class="note">{{ note }}</div>
                    <br>
                {% endfor %}
            {% else %}
                <p>{{ notes[0] }}</p>
            {% endif %}
        </div>        

        <hr>

        <div id="rating-buttons">
            <button id="unsupported-btn" class="rating-btn" data-appid="{{ game.steam_appid }}" data-rating="0" onclick="submitRating(this)">Unsupported</button>
            <button id="bronze-btn" class="rating-btn" data-appid="{{ game.steam_appid }}" data-rating="1" onclick="submitRating(this)">Bronze</button>
            <button id="silver-btn" class="rating-btn" data-appid="{{ game.steam_appid }}" data-rating="2" onclick="submitRating(this)">Silver</button>
            <button id="gold-btn" class="rating-btn" data-appid="{{ game.steam_appid }}" data-rating="3" onclick="submitRating(this)">Gold</button>
            <button id="platinum-btn" class="rating-btn" data-appid="{{ game.steam_appid }}" data-rating="4" onclick="submitRating(this)">Platinum</button>
        </div>

        
        <hr>

        <form action="/add_note/{{ game.steam_appid }}" method="post">
            <textarea name="note" placeholder="Add a note..."></textarea>
            <button type="submit">Submit Note</button>
        </form>            
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
